body {
  background-color: rgb(209, 209, 209);
}
.container {
  padding-top: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 600px;
  background-color: rgb(71, 63, 92);
  border: black 5px solid;
}
.header {
  width: 100%;
  background-color: rgb(48, 44, 110);
  display: flex;
  justify-content: space-evenly;

  align-items: center;
}
.header_title {
  color: rgb(255, 255, 255);
  width: 100%;
  margin: 0;
}
.header_add {
  color: #ffffff;
  font-size: 36px;
  height: 100%;
  border-left: black solid 3px;
}
.box h2 {
  margin: 0;
  color: white;
  width: 100%;
  background-color: rgb(120, 109, 148);
  border: black 2px solid;
}
.box h2::before {
  content: "-";
  margin: 0 5px;
}
